/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

//                <&mo 1>,
//                <&kp SPACE>;

// ----- Notes -------
// Mod tap   = &mt LSHFT SPACE  (shift when held, space when tapped)
// Layer tap = &lt 3 TAB        (layer 3 when held, tab otherwise)


#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

#define MMN 0  // Mac main
#define MFN 1  // Mac functions
#define MNV 2  // Mac navigation

#define WMN 3  // Windows main
#define WFN 4  // Windows functions
#define WNV 5  // Windows navigation

#define OTH 6  // Others functions

/ {
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            //flavor = "tap-unless-interrupted";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings =
              <&kp LGUI>,
              <&kp LC(UP)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";



//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------



        macos_layer {
//                                               -------------------------------- Layer 0 - MacOS ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       |  `    |   1   |   2   |   3   |   4   |   5   |                                 |  6    |  7    |  8    |   9   |   0   |  -/_  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       | L5/TB |   Q   |   W   |   F   |   P   |  B    |                                 |  J    |   L   |   U   |   Y   |   ;   |  +/=  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       | L4/MC |   A   |   R   |   S   |   T   |  G    | .------.               .------. |  M    |   N   |   E   |   I   |   O   |   '   |
//                       |-------+-------+-------+-------+-------+-------| | MUTE |               | MUTE | |-------+-------+-------+-------+-------+-------|
//                       | SHIFT |   Z   |   X   |   C   |   D   |  V    | '------'               '------' |  K    |   H   |   ,   |   .   |   /   | SHIFT |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |  ALT  |  CTRL |  GUI  |  MO4  |  SHIFT  /             \  BKSPC  | SPACE | ENTER |  CTR  |  GUI  |
//                                       |       |       |  MCTR | SPACE |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'
            bindings = <
&kp GRAVE     &kp N1   &kp N2       &kp N3       &kp N4        &kp N5                                           &kp N6          &kp N7        &kp N8       &kp N9       &kp N0       &kp MINUS
&lt OTH TAB   &kp Q    &kp W        &kp F        &kp P         &kp B                                            &kp J           &kp L         &kp U        &kp Y        &kp SEMI     &kp EQL
&lt MNV ESC   &kp A    &kp R        &kp S        &kp T         &kp G                                            &kp M           &kp N         &kp E        &kp I        &kp O        &kp SQT
&kp LSHFT     &kp Z    &kp X        &kp C        &kp D         &kp V              &kp C_MUTE       &kp C_MUTE   &kp K           &kp H         &kp COMMA    &kp DOT      &kp FSLH     &kp RSHFT
                       &kp LALT     &kp LCTRL    &td0          &mo_tog MFN SPACE  &kp LSHFT        &kp BSPC     &kp SPACE       &kp ENTER     &kp RCTRL    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };


        mac_fn_layer {
//                                           -------------------------------- Layer 1 - MacOS Functions ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       | MCTRL |  FN1  |  FN2  |  FN3  |  FN4  |  FN5  |                                 |  FN6  |  FN7  |  FN8  |  FN9  |  FN10 | FN11  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       | G-TAB |  UNDO |  REDO |  C-F  |  C-P  |  C-B  |                                 |       |  HOME |   ^   |  END  |  REDO | FN12  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |  CPY  | CTR-A |  CUT  |  SAVE | N-TAB |  DEL  | .------.               .------. |       |  <-   |   v   |   ->  |  C-O  | ENTER |
//                       |-------+-------+-------+-------+-------+-------| |      |               |      | |-------+-------+-------+-------+-------+-------|
//                       | SHIFT | BKSPC | CTR-X | CTR-C | ENTER | PASTE | '------'               '------' |       |  C-H  |  [/{  |  ]/}  |  \ |  |       |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |  ALT  |  GUI  |  CTRL |       |  SHIFT  /             \  BKSPC  |       |       |       |       |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'
            bindings = <
&kp LG(UP)  &kp F1       &kp F2       &kp F3         &kp F4       &kp F5                                        &kp F6       &kp F7       &kp F8          &kp F9        &kp F10     &kp F11
&kp LG(TAB) &kp LG(Z)    &kp LG(Y)    &kp LG(F)      &kp LG(P)    &kp LG(B)                                     &none        &kp LG(LEFT) &kp UP          &kp LG(RIGHT) &kp LG(Y)   &kp F12
&kp LG(C)   &kp LG(A)    &kp LG(X)    &kp LG(S)      &kp LG(T)    &kp DEL                                       &none        &kp LEFT     &kp DOWN        &kp RIGHT     &kp LG(O)   &none
&trans      &kp BSPC     &kp LC(X)    &kp LC(C)      &kp ENTER    &kp LG(V)    &none                  &none     &none        &kp LG(H)    &kp LBKT        &kp RBKT      &kp BSLH    &trans
                         &trans       &trans         &trans       &kp SPACE    &trans                 &kp BSPC  &kp SPACE    &trans       &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };


        mac_nav_layer {
//                                              -------------------------------- Layer 2 - MacOS Navigation ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       |  WIN  |       |       |       |       |       |                                 |       |       |       |  [/{  |  ]/}  |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |  DEL  |                                 |       | WSP-L |  PGu  | WSP-R |       |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | .------.               .------. | BKSPC |  BACK |  PGd  |  FWD  |       |       |
//                       |-------+-------+-------+-------+-------+-------| |      |               |      | |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | '------'               '------' |       |       |       |       |   \   | SHIFT |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |       |       |       | SPACE |  SHIFT  /             \         | MCTR  |       |       |       |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'

            bindings = <
&to WMN     &none        &none        &none          &none        &none                                         &none          &none        &none           &kp LBKT      &kp RBKT    &none
&none       &none        &none        &none          &none        &kp DEL                                       &none          &kp LC(LEFT) &kp PG_UP       &kp LC(RIGHT) &none       &none
&none       &none        &none        &none          &none        &none                                         &kp BSPC       &kp LG(LEFT) &kp PG_DN       &kp LG(RIGHT) &none       &none
&none       &none        &none        &none          &none        &none        &none                  &none     &none          &none        &none           &none         &kp BSLH    &kp RSHFT
                         &none        &none          &none        &kp SPACE    &kp LSHFT              &none     &kp LG(LS(UP)) &none        &none           &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };


//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------


        windows_layer {
//                                               -------------------------------- Layer 3 - Windows ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       |  `    |   1   |   2   |   3   |   4   |   5   |                                 |  6    |  7    |  8    |   9   |   0   |  -/_  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       | L6/TB |   Q   |   W   |   F   |   P   |  B    |                                 |  J    |   L   |   U   |   Y   |   ;   |  +/=  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       | L2/ESC|   A   |   R   |   S   |   T   |  G    | .------.               .------. |  M    |  N    |   E   |   I   |   O   |   '   |
//                       |-------+-------+-------+-------+-------+-------| | MUTE |               | MUTE | |-------+-------+-------+-------+-------+-------|
//                       | SHIFT |   Z   |   X   |   C   |   D   |  V    | '------'               '------' |  K    |  H    |   ,   |   .   |   /   | SHIFT |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |  ALT  |  CTRL |  GUI  |  MO1  |  SHIFT  /             \  BKSPC  | SPACE | ENTER |  CTR  |  GUI  |
//                                       |       |       |       | SPACE |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'
            bindings = <
&kp GRAVE     &kp N1   &kp N2       &kp N3       &kp N4        &kp N5                                           &kp N6          &kp N7        &kp N8       &kp N9       &kp N0       &kp MINUS
&lt OTH TAB   &kp Q    &kp W        &kp F        &kp P         &kp B                                            &kp J           &kp L         &kp U        &kp Y        &kp SEMI     &kp EQL
&lt WNV ESC   &kp A    &kp R        &kp S        &kp T         &kp G                                            &kp M           &kp N         &kp E        &kp I        &kp O        &kp SQT
&kp LSHFT     &kp Z    &kp X        &kp C        &kp D         &kp V          &kp C_MUTE           &kp C_MUTE   &kp K           &kp H         &kp COMMA    &kp DOT      &kp FSLH     &kp RSHFT
                       &kp LALT     &kp LCTRL    &kp LGUI      &lt WFN SPACE  &kp LSHFT            &kp BSPC     &kp SPACE       &kp ENTER     &kp RCTRL    &kp LGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };



        win_fn_layer {
//                                           -------------------------------- Layer 4 - Windows Functions ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       |  ESC  |  FN1  |  FN2  |  FN3  |  FN4  |  FN5  |                                 |  FN6  |  FN7  |  FN8  |  FN9  |  FN10 | FN11  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |  TAB  |  UNDO |  REDO |  C-F  |  C-P  |  C-B  |                                 |       |  HOME |   ^   |  END  |  REDO | FN12  |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |  CPY  | CTR-A |  CUT  |  SAVE | N-TAB |  DEL  | .------.               .------. |       |  <-   |   v   |   ->  |       | ENTER |
//                       |-------+-------+-------+-------+-------+-------| |      |               |      | |-------+-------+-------+-------+-------+-------|
//                       | SHIFT | BKSPC | CTR-X | CTR-C | ENTER | PASTE | '------'               '------' |       |       |  [/{  |  ]/}  |  \ |  |       |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |  ALT  |  GUI  |  CTRL |       |  SHIFT  /             \  BKSPC  |       |       |       |       |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'
            bindings = <
&none       &kp F1       &kp F2       &kp F3         &kp F4       &kp F5                                        &kp F6       &kp F7      &kp F8          &kp F9      &kp F10     &kp F11
&kp TAB     &kp LC(Z)    &kp LC(Y)    &kp LC(F)      &kp LC(P)    &kp LC(B)                                     &none        &kp HOME    &kp UP          &kp END     &kp LC(Y)   &kp F12
&kp LC(C)   &kp LC(A)    &kp LC(X)    &kp LC(S)      &kp LC(T)    &kp DEL                                       &none        &kp LEFT    &kp DOWN        &kp RIGHT   &none       &none
&trans      &kp BSPC     &kp LC(X)    &kp LC(C)      &kp ENTER    &kp LC(V)    &none                  &none     &none        &none       &kp LBKT        &kp RBKT    &kp BSLH    &trans
                         &trans       &trans         &trans       &trans       &kp LSHFT              &kp BSPC  &kp SPACE    &trans      &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };



        win_nav_layer {
//                                              -------------------------------- Layer 5 - Windows Navigation ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       | MACOS |       |       |       |       |       |                                 |       |       |       |  [/{  |  ]/}  |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |  DEL  |                                 |       |       |  PGu  |       |       |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | .------.               .------. | BKSPC |  BACK |  PGd  |  FWD  |       |       |
//                       |-------+-------+-------+-------+-------+-------| |      |               |      | |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | '------'               '------' |       |       |       |       |   \   | SHIFT |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |       |       |       | SPACE |  SHIFT  /             \         |       |       |       |       |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'

            bindings = <
&to MMN     &none        &none        &none          &none        &none                                         &none        &none        &none           &kp LBKT      &kp RBKT    &none
&none       &none        &none        &none          &none        &kp DEL                                       &none        &none        &kp PG_UP       &none         &none       &none
&none       &none        &none        &none          &none        &none                                         &kp BSPC     &kp LA(LEFT) &kp PG_DN       &kp LA(RIGHT) &none       &none
&none       &none        &none        &none          &none        &none        &none                  &none     &none        &none        &none           &none         &kp BSLH    &kp RSHFT
                         &none        &none          &none        &kp SPACE    &kp LSHFT              &none     &none        &none        &none           &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };


//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------

        other_layer {
//                                        -------------------------------- Layer 6 - NUMPAD + Keyboard Fns ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       | RESET |       |       |       |       |  RGB  |                                 |       |  tab  |   /   |   *   |   -   |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |  BR+  | HUE+  |       |       | RGBON |                                 |       |   7   |   8   |   9   |   +   |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |  BR-  | HUE-  |       |       | RGBOF | .------.               .------. | BKSPC |   4   |   5   |   6   |   =   | ENTER |
//                       |-------+-------+-------+-------+-------+-------| | RGB  |               |      | |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | '------'               '------' |       |   1   |   2   |   3   | ENTER |       |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |       |       |       |       |         /             \         | SPACE |   0   |   ,   |   .   |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'
            bindings = <
&sys_reset  &none            &none           &none     &none        &rgb_ug RGB_COLOR_HSB(128,100,100)                   &kp TAB       &none        &kp FSLH   &kp STAR      &kp MINUS        &none
&none       &rgb_ug RGB_HUI  &rgb_ug RGB_BRI &none     &none        &rgb_ug RGB_ON                                       &none         &kp N7       &kp N8     &kp N9        &kp PLUS         &none
&none       &rgb_ug RGB_HUD  &rgb_ug RGB_BRD &none     &none        &rgb_ug RGB_OFF                                      &kp BSPC      &kp N4       &kp N5     &kp N6        &kp EQL          &kp ENTER
&none       &none            &none           &none     &none        &none            &rgb_ug RGB_TOG           &none     &none         &kp N1       &kp N2     &kp N3        &kp ENTER        &none
                             &none           &none     &none        &none            &none                     &none     &kp SPACE     &kp N0       &none      &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};




//                                                 -------------------------------- TEMPLATE ------------------------------
//                       .-----------------------------------------------.                                 .-----------------------------------------------.
//                       |       |       |       |       |       |       |                                 |       |       |       |       |       |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       |                                 |       |       |       |       |       |       |
//                       |-------+-------+-------+-------+-------+-------|                                 |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | .------.               .------. |       |       |       |       |       |       |
//                       |-------+-------+-------+-------+-------+-------| |      |               |      | |-------+-------+-------+-------+-------+-------|
//                       |       |       |       |       |       |       | '------'               '------' |       |       |       |       |       |       |
//                       '-------+-------+-------+-------+-------+-------+---------.            .----------+-------+-------+-------+-------+-------+-------'
//                                       |       |       |       |       |         /             \         |       |       |       |       |
//                                       |       |       |       |       |        /               \        |       |       |       |       |
//                                       '---------------------------------------'                 '---------------------------------------'


//  &none       &none        &none        &none          &none        &none                                         &none        &none       &none           &none       &none       &none
//  &none       &none        &none        &none          &none        &none                                         &none        &none       &none           &none       &none       &none
//  &none       &none        &none        &none          &none        &none                                         &none        &none       &none           &none       &none       &none
//  &none       &none        &none        &none          &none        &none        &none                  &none     &none        &none       &none           &none       &none       &none
//                           &none        &none          &none        &none        &none                  &none     &none        &none       &none           &none